---
import Languages from "../components/Languages.astro";
import Profile from "../components/Profile.astro";
import Skills from "../components/Skills.astro";
import Summary from "../components/Summary.astro";
import WorkExperience from "../components/WorkExperience.astro";
import Layout from "../layouts/Layout.astro";
import SocialLinks from "../components/SocialLinks.astro";
import Education from "../components/Education.astro";

import resume from "../content/v2.json";
---

<Layout title="Ilias YAHIA - Senior Software Engineer">
    <Profile src="/images/1645135734704.jpeg" fullname={resume.fullName} title={resume.title}/>
    <SocialLinks github="yiss" linkedIn="iliasyahia" email="ilias.yahia1@gmail.com"/>
    <Summary content={resume.summary}></Summary>
    <hr class="h-0.5 my-8 mx-20 bg-stone-300 border-0">
    <div class="grid grid-cols-2 gap-2">
        <Skills skills={resume.skills}/>
        <Languages languages={resume.languages}/>
    </div>
    <hr class="h-0.5 my-8 mx-20 bg-stone-300 border-0">
    <div class="flex flex-col space-y-4">
        <span class="text-2xl font-bold text-stone-800 uppercase">Work Experience</span>
        <div class="flex flex-col space-y-2">
            {resume.workExperience.map((we) => (<WorkExperience {...we}/>))}
        </div>
    </div>
    <div class="flex flex-col space-y-4">
        <span class="text-2xl font-bold text-stone-800 uppercase">Education</span>
        <div class="flex flex-col space-y-2">
            {resume.education.map((edu) => (<Education {...edu}/>))}
        </div>
    </div>
</Layout>